.main-div {
   // background-image: url("../../../assets/img-3.jpg");
    background-repeat:no-repeat;
    background-position-x: center;
    background-size: 600px 700px;
    margin-top: 20px;
}

.text {
    color: red;
}

.text-1 {
    color: rgb(165, 42, 69);
}