app-headerss {
    position: fixed;
    width: 100%;
    top: 0px;
    height: 4rem;
    z-index: 2;
}

main {
    position: absolute;
    width: 100%;
    top: 3.5rem;
    //z-index: 1;
    height: 100%;

}

app-navside {
    position: fixed;
    left: 0rem;
    width: 60px;
    //height: calc(100vh - 3.5rem) ;
    height: 100vh;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    //background-color: rgb(27, 13, 13);
    //border-top: 1 px solid white;
    overflow-x: hidden;
    white-space: nowrap;
    transition: width 250ms ease-in;
}

.body-content {
    position: absolute;
    left: 60px;
    width: calc(100% - 60px);
    height: 100vh;
    transition: left 250ms ease-in, width 250ms ease-in;
}

.nav-list-shrink {
    width: calc(100% - 250px);
    left: 250px;
}

.nav-list-open {
    width: 250px;
}
