.side-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    cursor: pointer;
}

.side-nav:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 30%;
}

// .nav {
//     margin-left: 18px;
// }

.size {
    font-size: 20px;
    height: 25px;
    width: 25px;
    margin-right: 15px;
    margin-left: 10px;
    text-align: center;
    line-height: 25px; 
}