/* You can add global styles to this file, and also import other style files */
// * {
//     //background-image: url("https://www.google.com/imgres?imgurl=https%3A%2F%2Fmedia.istockphoto.com%2Fid%2F918835756%2Fphoto%2Ffruit-for-sale-at-the-local-market.jpg%3Fs%3D612x612%26w%3D0%26k%3D20%26c%3D5hpVY3sozx4MMsl8m4ys9v2O7_I4nUeoPzaWibtBALs%3D&tbnid=h2PZIYHss7BtHM&vet=10CAYQxiAoBWoXChMIyJHFv7zb_wIVAAAAAB0AAAAAEAc..i&imgrefurl=https%3A%2F%2Fwww.istockphoto.com%2Fphotos%2Fvenice-food-market&docid=E2cyCypilP2e8M&w=612&h=434&itg=1&q=food%20market%20images&ved=0CAYQxiAoBWoXChMIyJHFv7zb_wIVAAAAAB0AAAAAEAc");
//     width: auto;
//     height: auto;
//     //background-color: red;
// }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
